    func testProgramOperation(){
        //打印程序的Home目录:
        var homePath:String = NSHomeDirectory()
        NSLog("程序的Home路径是: %@.", homePath)
        
        var appPath:String = NSBundle.mainBundle().bundlePath
        NSLog("程序的安装包的路径为: %@.", appPath)
        
        //打印程序的Document目录
        var paths:Array = NSSearchPathForDirectoriesInDomains(.DocumentDirectory, .UserDomainMask, true) as! Array<String>
        var documentPath:String  = paths[0]
        NSLog("程序的Document路径是: %@.", documentPath)
        
        //打印程序 的Library目录
        
        paths = NSSearchPathForDirectoriesInDomains(.LibraryDirectory, .UserDomainMask, true) as! Array<String>
        var libraryDirectory:String = paths[0];
        NSLog("程序的Library路径是: %@.",libraryDirectory )
        
       //打印程序的Tmp目录
        var tmpDirectory = NSTemporaryDirectory()
        NSLog("程序的 Tmp路径是: %@.", tmpDirectory)
        
        //打印程序的caches目录
        paths = NSSearchPathForDirectoriesInDomains(.CachesDirectory, .UserDomainMask, true) as! Array<String>
        var cachesDirectory:String = paths[0];
        NSLog("程序的caches目录是: %@.",cachesDirectory )
    
    }
